In [1]:
a= 5 + 4 * 9 % (3 + 1) / 6 - 1
print(a)

4.0

In [5]:
n=int(input("enter the number"))
if n%2==0:
    print("even")

else:
    print("odd")

enter the number 7

odd

In [11]:
a = int(input("ENTER THE TABLE NUMBER"))
n = int(input("ENTER THE NUMBER OF TABLE"))

i=0
while i<=n:
    print(f"{a} * {i} =  ", a*i)
    i= i+1

ENTER THE TABLE NUMBER 2
ENTER THE NUMBER OF TABLE 10

2 * 0 =   0
2 * 1 =   2
2 * 2 =   4
2 * 3 =   6
2 * 4 =   8
2 * 5 =   10
2 * 6 =   12
2 * 7 =   14
2 * 8 =   16
2 * 9 =   18
2 * 10 =   20

In [22]:
r=[]
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        r.append(str(i))

print(','.join(r))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [33]:
a =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
no_int = 0
no_char = 0
no_bool = 0
no_float= 0
for i in a:
    if isinstance(i,int):
        no_int+=1
    elif isinstance(i,str):
        no_char+=1
    elif isinstance(i,bool):
        no_bool+=1
    elif isinstance(i,float):
        no_float+=1    


print("the count of integer=",no_int)
print("the count of boolean= ",no_bool)
print("the count of char=",no_char)
print("the count of decimal=",no_float)

the count of integer= 6
the count of boolean=  0
the count of char= 4
the count of decimal= 1

In [34]:
a=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

total = 0

for i in a:
    if isinstance(i,(int,float)):
        total += i

print("the sum of element will be=", total)

the sum of element will be= 22.5

In [42]:
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
total = ""

for i in a:
    if isinstance(i,str):
        total += i+"+"

total=total.rstrip('+')

print("the concat of element will be=", total)

the concat of element will be= Py+10+SQL+John